{% extends "base.html" %}

{% block title %}{{ market.question }}{% endblock %}


{% block content %}

<h1>{{ market.question }}</h1>

<h2>Stock Prices</h2>

<script type="text/javascript">
    function updateInfo() {
        $.ajax({
            url: '{% url market.views.update_market_info market.slug     %}',
            success: function(data) {
                $('#prices').html(data);
            }
        });
    };
    updateInfo();
    setInterval(function(){
        updateInfo();
    }, 1000);
</script>

<div id="prices" class="grids">
    {% include "market/update-prices.html" %}
</div>

<hr />

<div class="grids">
    <div class="grid-8">
        <h2>Trader Portfolios</h2>

        <ul>
        {% for trader in market.trader_set.all %}
        <li><a href="{% url market.views.trader market.slug trader.name %}">{{ trader.name }}'s Portfolio</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

<hr />

<div class="grids">
    <div class="grid-8">
    <h2>Market Manager</h2>

    <form method="POST" action="{% url market.views.market market.slug %}">
        {% csrf_token %}
        <input type="hidden" name="market" value="{{ market.id }}">
        {% if market.market_open %}
            <input type="submit" value="Close &amp; Liquidate" name="liquidate">
        {% else %}
            <input type="submit" value="Open" name="open">
        {% endif %}
    </form>
</div>
</div>

{% endblock %}
