{% extends "base.html" %}

{% block title %}{{ trader.name }}'s Portfolio on {{ trader.market.slug }}{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/update-prices.js"></script>
<script type="text/javascript">
    updatePrices('{{ trader.market.slug }}');
    window.setInterval(function(){
        updatePrices('{{ trader.market.slug }}');
    }, 1000);
</script>
{% endblock %}

{% block content %}

<h1>{{ trader.name }} &ndash; {{ trader.market.question }}</h1>

<h2>Stock Prices</h2>

<div class="grids">
    <div class="grid-8" id="graph">
        <div id="placeholder" style="width:500px;height:300px;"></div>
    </div>
    <div class="grid-8" id="stock-prices">
        <p id="stock-list">Latest stock prices!</p>
    </div>
</div>

<hr />

<h2>{{ trader.name }}'s Portfolio</h2>

<div id="portfolio" class="grids">
    <div class="grid-6" id="holdings">
        <h3>Holdings:</h3>
        <ul id="holdings">
            <li>Cash: {{ trader.cash }}</li>
            {% if trader.holding_set.all %}{% for holding in trader.holding_set.all %}
            <li>{{ holding.stock }}: {{ holding.shares }} shares</li>
            {% endfor %}{% endif %}
    </div>

    <div class="grid-5" id="open-orders">
        <h3>Open Orders:</h3>
        <ul id="open-orders">
            {% if open_orders %}{% for order in open_orders %}
                <li>{{ order }}
                <form action="{% url market.views.cancel_order %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="order" value="{{ order.id }}" />
                    <input type="hidden" name="trader" value="{{ trader.id }}" />
                    <input type="submit" value="Cancel" />
                </form></li>
            {% endfor %}
            {% else %}
                <li>No open orders.</li>
            {% endif %}
        </ul>
    </div>
    <div class="grid-5" id="closed-orders">
        <h3>Closed Orders:</h3>
        <ul id="closed-orders">
            {% if closed_orders %}{% for order in closed_orders %}
                <li>{{ order }}</li>
            {% endfor %}
            {% else %}
                <li>No closed orders.</li>
            {% endif %}
            </ul>
    </div>
</div>

<hr />

<h2>Available Actions</h2>

{% if trader.market.market_open %}
<p>The market is open! Let's act.</p>
<form method="POST" action="{% url market.views.trader trader.market.slug trader.name %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Place order!" />
</form>
{% else %}
<p>No actions available.</p>
{% endif %}

<script type="text/javascript" src="{{ STATIC_PREFIX }}js/update-graph.js"></script>
<script type="text/javascript">
    updateGraph('{{ trader.market.slug }}');
    setInterval(function(){
        updateGraph('{{ trader.market.slug }}');
    }, 1000);
</script>

<script type="text/javascript">
    function updatePortfolio() {
        $.ajax({
            url: '{% url market.views.update_portfolio trader.market.slug trader.name %}',
            success: function(data) {
                $('#portfolio').html(data);
            }
        });
    };
    setInterval(function(){
        updatePortfolio();
    }, 1000);
</script>

{% endblock %}
